<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Login</title>-->
<!--    <style>-->
<!--        body {-->
<!--            font-family: Arial, sans-serif;-->
<!--            background-color: #f4f4f4;-->
<!--            display: flex;-->
<!--            justify-content: center;-->
<!--            align-items: center;-->
<!--            height: 100vh;-->
<!--            margin: 0;-->
<!--        }-->

<!--        form {-->
<!--            background: #ffffff;-->
<!--            padding: 20px;-->
<!--            border-radius: 8px;-->
<!--            box-shadow: 0 4px 8px rgba(0,0,0,0.1);-->
<!--            width: 300px;-->
<!--        }-->

<!--        p {-->
<!--            margin: 0 0 10px;-->
<!--            color: #333;-->
<!--            font-size: 16px;-->
<!--        }-->

<!--        input {-->
<!--            width: 100%;-->
<!--            padding: 10px;-->
<!--            margin-top: 5px;-->
<!--            margin-bottom: 20px;-->
<!--            border: 1px solid #ccc;-->
<!--            border-radius: 4px;-->
<!--        }-->

<!--        button {-->
<!--            background-color: #5c67f2;-->
<!--            color: white;-->
<!--            border: none;-->
<!--            padding: 10px 20px;-->
<!--            text-align: center;-->
<!--            text-decoration: none;-->
<!--            display: inline-block;-->
<!--            font-size: 16px;-->
<!--            border-radius: 4px;-->
<!--            width: 100%;-->
<!--            cursor: pointer;-->
<!--        }-->

<!--        button:hover {-->
<!--            background-color: #4a54e1;-->
<!--        }-->
<!--    </style>-->
<!--</head>-->
<!--<body>-->
<!--<form>-->
<!--    <p>Email:</p>-->
<!--    <input type="email" required>-->
<!--    <p>Password:</p>-->
<!--    <input type="password" required>-->
<!--    <button type="submit">Login</button>-->
<!--</form>-->
<!--</body>-->
<!--</html>-->